* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  border-top: solid 5px #ef6826;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/*------------ header design ----------------------------*/

.bg_orange {
  background-color: #ef6826;
  height: 49px;
  width: 49px;
}

.nav_icon {
  display: none;
}

.logo h1 {
  color: #2a2a52;
  font-size: 29px;
  font-weight: 700;
  line-height: normal;
}

.logo {
  display: flex;
  gap: 15px;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  width: 100%;
}

ul.navigation {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

ul.navigation li a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

ul.navigation li a.header_button {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #000;
  padding: 14px 25px;
  border-radius: 10px;
}

/* ................header desing ...................*/

/* ......image carosel designing....... */

.mob_carosel_image {
  display: none;
}

.carosel_image_style {
  width: 100%;
  background-size: cover;
  padding: 0 0 50px 0;
}

.captions {
  display: none;
}

/* ......image carosel designing....... */

/* .............watsnew content designing............ */

.watsnew_content h2 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.watsnew_content p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.watsnew_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 50px 0;
}

/* .............watsnew content designing............ */

/* ...................gery bg design............. */

.grey_bg_text h2 {
  color: #2a2a52;
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
}

.grey_bg_text h5 {
  color: #2a2a52;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
}

.grey_bg_text small {
  color: #a4a4a4;
  font-size: 15px;
  font-weight: 300;
  line-height: 40px;
}

.text_box h4 {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
}

.text_box h2 {
  color: #ef6826;
  font-size: 29px;
  font-weight: 700;
}

.text_box small {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  display: block;
}

.grey_container {
  background-color: #2a2a520a;
  width: 100%;
  padding: 100px 0 0;
  margin-top: 50px;
}

.grey_bg_box .image {
  background-image: url(../images/lapimage.jpg);
}

.grey_bg_box .indigo {
  background-color: #2a2a52;
}

.grey_bg_box .orange {
  background-color: #ef6826;
  margin-top: -145px;
  padding-top: 152px;
  justify-content: center;
}

.grey_bg_box .orange h2 {
  color: #fff;
}

.grey_bg_box {
  display: flex;
  flex: 1;
}

.text_box {
  padding: 60px 0 0 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  height: 350px;
}

.subgrey_whatare {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

/* ...................gery bg design............. */

/* ............bg internation media start..................... --> */

.carosel_bginternationmedia {
  background-image: url("../images/textcontimg.jpg");
  background-size: cover;
}

.carosel_bginternationmedia h2 {
  color: #fff;
  font-size: 33px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

.carosel_bginternationmedia p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.carosel_bginternationmedia a {
  color: #2a2a52;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
  padding: 15px 40px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 67px;
}

.carosel_bginternationmedia {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

/* .............bg internation media end..................... --> */

/* .......................................................................watsnew image and list container design............................. */

.whatsnew_image {
  width: 361px;
  height: 407px;
}

ul.inner_list li p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

ul.inner_list li h3 {
  color: #000;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
}

ul.inner_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 15px;
}

.whatsnew_imageandlist {
  display: flex;
  padding: 100px 0;
}

ul.inner_list li {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.orange_icon {
  background-color: #ef6826;
  width: 60px;
  height: 60px;
  padding: 25px;
  border-radius: 300%;
  align-items: center;
  display: flex;
}

.blue_icon {
  background-color: #2a2a52;
  width: 60px;
  height: 60px;
  color: #fff;
  padding: 25px;
  border-radius: 300%;
  align-items: center;
  display: flex;
}

.list_heading {
  display: flex;
  gap: 25px;
  align-items: center;
}

/* .......................................................................watsnew image and list container design............................. */

/* .........evengies uk and hoverd image in orange bg design............ */

.evegenisuk_hovimagebg {
  display: flex;
  gap: 30px;
  padding: 100px 0;
}

.evegenis_uk_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtext_uk h4 {
  color: #000;
  font-size: 25px;
  font-weight: 700;
}

.number_uk {
  display: flex;
  flex-direction: column;
}

.number_uk h1 {
  color: #2a2a52;
  font-size: 67px;
  font-style: normal;
  font-weight: 700;
}

.number_uk small {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.subtext_uk {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
  border-top: solid 1px #ef6826;
  padding-top: 75px;
}

.uk_button {
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border: solid 1px #c9c9c9;
}

.hovimageand_orgbg {
  background-color: #ef6826;
  display: flex;
  width: 100%;
}

.arow_design {
  background-color: #fff;
  padding: 20px 25px;
  border: solid 1px #c9c9c9;
  align-items: end;
}

button.forwrd_arow {
  border-right: 0px;
}

.arow_mark {
  display: flex;
  justify-content: end;
}

.hovimage_watsnew {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.man_image {
  height: 420px;
  margin-top: -180px;
}

.hovimage small {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.hovimage h4 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}

.whitetext_in_orgbg h6 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}

.whitetext_in_orgbg h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.whitetext_in_orgbg p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.whitetext_in_orgbg a {
  color: #000;
  font-size: 11px;
  font-weight: 700;
}

.whitetext_in_orgbg {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 60px 40px;
}

.img_letters {
  padding: 40px 0 0 40px;
  line-height: 25 px;
}

.md_name {
  text-decoration: none;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

/* .........evengies uk and hoverd image in orange bg design............ */

/* .............who we are design.............. */

.who_we_are {
  width: 100%;
  background-color: #fff;
  padding: 100px 0;
}

.sub_who_weare {
  display: flex;
  gap: 30px;
}

.whoimage_style {
  width: 652px;
}

.who_content h4 {
  color: #000;
  font-size: 37px;
  font-weight: 700;
  text-align: left;
}

.who_content p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.who_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

a.who_button {
  text-decoration: none;
  background-color: #ef6826;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 20px;
  border-radius: 5px;
  text-align: center;
}

/* .............who we are design.............. */

/* ......................Imit BLUE LOGO SECTION design............ */

.violet_bg_image {
  width: 100%;
  padding: 50px;
  background-size: cover;
  background-image: url("../images/footerimage.jpg");
}

.foot_logo {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imit_sub {
  display: flex;
  gap: 5px;
  align-items: center;
}

.imit_sub h2 {
  color: #fff;
  font-size: 29px;
  font-weight: 700;
}

.imit_sub small {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.org_button a {
  text-decoration: none;
  background-color: #ef6826;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 20px;
  border-radius: 5px;
  text-align: center;
}

/* ......................Imit BLUE LOGO SECTION design............ */

/* ............footer design........... */

.wrap_text {
  background-color: #fff;
  color: #000 !important;
  border-radius: 20px;
  padding: 11px 8px;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}

.footer_content {
  padding: 60px 0;
  background-color: #fff;
}

.footerlist li a {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
}

.footerlist li {
  list-style: none;
}

.footer_list_logo {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 15px;
}

.footerlist {
  display: flex;
  gap: 50px;
}

.footerlist h4 {
  color: #2a2a52;
  font-size: 19px;
  font-weight: 700;
}

.footerlogo h2 {
  color: #2a2a52;
  font-size: 29px;
  font-weight: 700;
}

.footerlogo p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.footerlogo button {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-color: #fff;
}

.footerlogo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footerlist_list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.footer_socialmedia {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 30px 35px;
}

input.subscribe {
  padding: 12px;
  width: 100%;
  border: none;
  background-color: #fff;
}

.subscribe_input {
  display: flex;
  border: 1px solid #e6e6e6;
}

.subscribe_input button {
  flex: 2;
  border: none;
  background-color: #fff;
}

ul.social_icons {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

ul.list {
  padding: 0px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.secure_text h6 {
  line-height: 15px;
}

/* ............footer design........... */

/* ...........mediaquery............. */

@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .nav_icon {
    display: flex;
  }

  .nav_bar {
    display: none;
  }

  .whatsnew_imageandlist {
    flex-direction: column;
  }

  ul.inner_list {
    flex-direction: column;
  }

  .evegenisuk_hovimagebg {
    flex-direction: column;
  }

  .grey_bg_box {
    flex-direction: column;
  }

  .hovimageand_orgbg {
    flex-direction: column;
  }

  .sub_who_weare {
    flex-direction: column;
  }

  .footer_list_logo {
    flex-direction: column;
  }

  .whoimage_style {
    width: 100%;
  }

  .footerlist {
    display: none;
  }

  .whatsnew_image {
    width: 100%;
    height: auto;
  }

  .carosel_image_style {
    display: none;
  }

  .mob_carosel_image {
    display: flex;
    width: 100%;
    height: auto;
  }

  .whatsnew_image {
    width: 100%;
    height: auto;
  }

  .watsnew_content {
    padding: 40px 40px 0;
  }

  .grey_container {
    padding: 0px;
  }

  ul.inner_list li {
    width: 100%;
  }

  .text_box {
    position: relative;
    width: 100%;
    padding: 40px;
    justify-content: center;
    height: auto;
  }

  .grey_bg_box .orange {
    padding: 40px;
    margin-top: 0px;
  }

  header {
    padding: 40px;
  }

  .subgrey_whatare {
    gap: 40px;
    padding: 40px;
  }

  .carosel_bginternationmedia {
    padding: 100px 40px;
  }

  img {
    width: 100%;
  }

  .whatsnew_imageandlist {
    padding: 40px;
  }

  ul.inner_list {
    padding: 40px 0 0;
    gap: 20px;
  }

  ul.inner_list li {
    padding: 0px;
  }

  .evegenisuk_hovimagebg {
    padding: 0px;
  }

  .subtext_uk {
    padding: 40px;
  }

  .number_uk {
    padding: 0px 40px;
    align-items: center;
    padding-bottom: 120px;
  }

  .who_content {
    padding: 40px;
  }

  .sub_who_weare {
    gap: 0;
  }

  .who_we_are {
    padding: 0px;
  }

  .footer_content {
    padding: 40px;
  }

  .arow_mark {
    display: none;
  }

  .foot_logo {
    flex-direction: column;
    gap: 40px;
  }

  .imit_sub {
    flex-direction: column;
  }

  .violet_bg_image {
    padding: 40px;
  }

  .imit_sub small {
    text-align: center;
  }

  .who_content p {
    padding-bottom: 40px;
  }

  .carosel_bginternationmedia h2 {
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
  }

  .carosel_bginternationmedia p {
    text-align: center;
  }

  .carosel_bginternationmedia a {
    margin-top: 0px;
  }

  .grey_bg_box .orange h2 {
    font-size: 25px;
  }

  .img_letters {
    padding: 40px;
    text-align: end;
  }

  .whitetext_in_orgbg {
    padding: 0 40px 40px;
  }

  .subtext_uk h4 {
    text-align: center;
  }

  .mob_carosel_image {
    position: relative;
  }

  .captions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 290px;
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 68px;
    gap: 5px;
  }

  .captions h1 {
    color: #fff;
    font-size: 83px;
    font-weight: 700;
  }

  .captions h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }

  .org_bar {
    width: 180px;
    height: 7px;
    background-color: #ef6826;
    border-radius: 3px;
  }

  .captions p {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
  }

  .man_image {
    margin-top: -100px;
    height: auto;
    width: 100%;
    padding: 40px 40px 0px 40px;
  }

  .evegenisuk_hovimagebg {
    gap: 0px;
  }

  .subtext_uk {
    gap: 40px;
  }

  .blue_layer {
    background-color: #0e0e5185;
    position: absolute;
    padding: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 0; */
  }

  .text_layaer {
    z-index: 0;
  }

  .grey_bg_text small {
    line-height: 0px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  border-color: #FF3D00;
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

* {
  margin: 0;
  box-sizing: border-box;
}

.frame {
  display: flex;
  height: 100vh;
  width: 100%;
}

.blueframe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  background: #0070AF;
}

.whiteframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
  background: var(--white, #FFF);
}

.inframe {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}


.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: #6A6A6A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 100;
}

.email {
  display: flex;
  padding: 8px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 3px;
  border: 1px solid #E6E6E6;
  /* background-image: url("../images/icon.svg"); */
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

.password {
  display: flex;
  padding: 8px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 3px;
  border: 1px solid #E6E6E6;
  background: var(--white, #FFF);
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  flex-direction: row;
}

.button {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 3px;
  background: #0070AF;
  color: var(--white, #FFF);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

a {
  color: #2D3B57;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.checkbox {
  width: 15px;
  height: 14px;
  border: 1px solid #DCDCDC;
  background: #FFF;
  
}

.forgot {
  gap: 8px;
  align-items: center;
  display: flex;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}